<p>Hey {{name}},</p>
<p>
  You are receiving this email to remind you that your video call session will take place at the below link in
  {{amount}}
  {{daysOrHours}}</p>
<p>
  <a href='{{url}}'>Video Call Session</a>
</p>