<p>Hey {{name}},</p>
<p>
  You can use the following code to gain discount in our products between {{promoCode.from}} and {{promoCode.until}}
</p>
<p>This code is valid for {{promoCode.numberOfSessions}} session(s)</p>