<p>Hello </p>
<p>You are receiving this email because you required a password change. 
Click  <a href='{{url}}'><strong>HERE</strong></a> and enter the email you use to login in psiqo, your new password and the code below</p>
<p>
  Code: {{code}}
</p>
